<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name=".DreyAssistApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreyAssist">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DreyAssist">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.DreyAssist" />

        <activity
            android:name=".TransaksiListActivity"
            android:exported="false"
            android:theme="@style/Theme.DreyAssist" />

        <activity
            android:name=".JournalListActivity"
            android:exported="false"
            android:theme="@style/Theme.DreyAssist" />

        <activity
            android:name=".ReminderListActivity"
            android:exported="false"
            android:theme="@style/Theme.DreyAssist" />

        <activity
            android:name=".InsightsActivity"
            android:exported="false"
            android:theme="@style/Theme.DreyAssist" />

        <activity
            android:name=".MemoryListActivity"
            android:exported="false"
            android:theme="@style/Theme.DreyAssist" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.DreyAssist" />

        <activity
            android:name=".notification.ReminderPopupActivity"
            android:exported="false"
            android:theme="@style/Theme.DreyAssist"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />

        <receiver
            android:name=".notification.ReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".notification.NotificationActionReceiver"
            android:exported="false" />

        <!-- Widget -->
        <receiver
            android:name=".widget.DreysistWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
            android:name=".widget.DreysistWidgetLarge"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_large" />
        </receiver>

        <activity
            android:name=".BackupActivity"
            android:exported="false"
            android:theme="@style/Theme.DreyAssist" />

        <!-- FileProvider for sharing backups -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
            
    </application>

</manifest>